@import "../variables";

:host {
    display: block;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    padding: 48px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header-radios {
    display: flex;
}

.radio {
    font-family: $font-family-secondary;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;

    input {
        margin-right: 8px;
    }
}

.radio-1 {
    margin-right: 16px;
}

.main {
    flex-grow: 1;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    button {
        font-family: $font-family-secondary;
        color: $primary;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $primary;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.pokemon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
}

.pokemon {
    display: flex;
    align-items: center;
    background-color: $neutral-light;
    border: 1px solid $neutral-30;
    border-radius: 12px;
    padding: 16px;
}

.pokemon-image {
    background-color: $image-bg;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin-right: 12px;
}

.pokemon-name {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}