<div class="page">
  <header class="header">
    <h3>All the Pokemon!</h3>
    <div class="header-radios">
      <div class="radio radio-1">
        <input type="radio" id="name" name="sort-radio" value="HTML">
        <label for="name">Sort Name</label>
      </div>
      <div class="radio radio-2">
        <input type="radio" id="id" name="sort-radio" value="CSS">
        <label for="id">Sort ID</label>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="pokemon-grid">
      <div class="pokemon" *ngFor="let pokemon of pokemonsdata?.results">
        <img class="pokemon-image" [src]="pokemon.imageURL"/>
        <div class="pokemon-name">{{pokemon.name}}</div> 
        <!-- {{pokemon.url}} -->
        <!-- {{pokemon.imageURL}} -->
      </div>
    </div>
    
  </main>
  <footer class="footer">
    <div class="footer-buttons">
      <button type="button" (click)="previousPage()">Previous 12</button>
      <button type="button" (click)="nextPage()">Next 12</button>
    </div>
  </footer>
</div>

