@import 'variables';

html, body {
    height: 100%;
}

body {
    background-color: $neutral-20;
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3 {
    color: $dark-gray;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}