$primary: #024E74;
$neutral-light: #FDFDFD;
$neutral-dark: #23292B;
$neutral-20: #F6F6F7;
$neutral-30: #E3E1E5;
$image-bg: rgba(0,0,0,.07);
$dark-gray: #363545;



$font-family: 'Encode Sans', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;